    /* body and everything */
    *
    {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    }

    body
    {
        background-color: #8CB9DAff;
        font-family: 'Kanit', sans-serif;
    }

    /* nav and header */

    nav
    {
    background: #F0F5F7ff;
    height: 80px;
    width: 100%;

    }

    label.logo
    {
    color:  #87AFE1ff;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    }

    nav ul
    {
    float: right;
    margin-right: 20px;


    }

    nav ul li
    {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    }

    nav ul li a
    {
    color: #87AFE1ff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    }

    a.active,a:hover
    {
    background: rgb(209, 226, 247);
    transition: 0.5s;

    }

    .checkbtn
    {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

    }

    #check
    {
    display: none;
    }

    @media (max-width: 952px)
    {
    label.logo
    {
        font-size: 30px;
        padding-left: 50px;

    }
    nav ul li a
    {
        font-size: 16px;
    }
    }

    @media (max-width: 300px)
    {
    .checkbtn
    {
        display: block;

    }

    ul
    {
        position: fixed;
        width: 100%;
        height: 100%;
        background: pink;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li
    {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a
    {
        font-size: 20px;
    }

    a:hover,a.active
    {
        background: none;
        color: pink;
    }

    #check:checked ~ ul
    {
        left: 0px;
    }
    }

    .logo, .fab, .fa-linkedin, .fa-instagram, .fa-github 
    {
        color: #87AFE1ff;
        
    }

    /* form css */

    .Welcome
    {
        color: #F0F5F7ff;
        text-align: left;
        margin-left: 50px;
        

    }

    
