    body 
    {
        background-color: grey;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .phone 
    {
        width: 300px; /* width of the black square */
        height: 600px; /* height of the black square */
        border: 4px solid black;
        background-color: white;
        box-sizing: border-box;
    }

    .top-nav
    {
        width: 10px;
        height: 5px;

    }
