body {
margin: 0;
}

.nav {
background-color: whitesmoke;
color: #000;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
box-sizing: border-box;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 2px solid black;
}

.nav ul {
display: flex;
list-style: none;
margin: 0;
padding: 0;
align-items: center;
}

.nav input[type="text"] {
padding: 10px;
margin-right: 50px;
border-radius: 5px;
border: 1px solid black;
font-size: 16px;
width: 300px;
}

.nav li {
margin-left: 20px;
}

.nav a {
text-decoration: none;
color: #000;
font-size: 20px;
margin: 0 10px;
padding: 5px 10px;
border-radius: 5px;
transition: background-color 0.3s ease-in-out;
}

.nav a:hover {
background-color: #C8102E;
color: black;
}

.nav img {
height: 110px;
width: auto;
margin-right: 20px;
}

.crumbs ol {
list-style-type: none;
padding-left: 0;
background-color: white;
}

.crumb {
display: inline-block;
}

.crumb a::after {
display: inline-block;
color: #000;
content: '>';
font-size: 80%;
font-weight: bold;
padding: 0 3px;
}

footer {
background-color: whitesmoke;
color: #000;
padding: 5px;
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
bottom: 0;
width: 100%;
border-top: 2px solid black;
}

.contact h3 {
margin-bottom: 10px;
}

.contact p {
margin: 0;
}

/* Style the copyright section */
.copyrignt {
font-size: 14px;
}

.main-section{
text-align: center;
background-color: white;
}

.best-sell{
    background-color: white;
    text-align: center;
}

.best-sell img
{
    width: 90%;
}

.more-books
{
    text-align: center;
    background-color: white;
}

.more-books img
{
    width: 80%;
}


